<!DOCTYPE html>
<html>
  <head>
    <title>Webbit</title>
    <%= render "shared/head" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
